* {
    border: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    max-width: 100%;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 1px solid black;
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

section {
    border: 5px solid #fbfb98;
    width: 100%;
    padding: 0rem 1rem;
}

#quote1,
#author {
    text-align: center;
}

#quote1 {
    font-size: 1.25rem;
    font-style: bold;
    font-weight: 700
}

#author {
    font-style: italic;
    font-weight: 600;
}

button {
    margin: 1rem 0rem 0rem 0rem;
    color: white;
    background: #464444;
    padding: 6px;
    border-radius: 3px;
}

@media screen and (min-width:425px) and (max-width:768px) {
    main {
        width: 80%;
    }
}

@media screen and (min-width:768px) {
    main {
        width: 70%;
    }
}
